

<% if @comments == nil %>
    No one has commented on this collection.
    <%else%>
<% @comments.each do |comment| %>
    User: <%= comment.user.username %><br>
    Comment: <%= comment.comment %><br>
    <br>
    <%end%>
    <%end%>

    <div class="sidebar">
<form method="get" action="/user/<%=current_user.id%>">
    <input type="submit" value="Home">
    </form>
<form method="post" action="/logout">
<input type="submit" value="LogOut">
</form>
</div>