<h3>Add a new Gem to your collection below:</h3>
<form method='post' action='/new_gem'>
Name:<input type="text" name="gem[name]"><br>
Properties:<input type="text" name="gem[properties]"><br>
Source:<input type ="text" name="gem[source]"><br>
<input type="hidden" name="gem[user_id]" value=<%= current_user.id %>>
<input type="submit" value="Add Stone">
</form>
<div class="sidebar">
<form method="get" action="/user/<%=current_user.id%>">
    <input type="submit" value="Home">
    </form>
<form method="post" action="/logout">
<input type="submit" value="LogOut">
</form>
</div>
