<div class="wrapper2">
<h2>Gemstone Form:</h2>
<%= flash[:incorrect] %><br>
<form method='post' action='/gemstone/new'>
Name:<input type="text" name="gem[name]"><br>
Properties:<input type="text" name="gem[properties]"><br>
Source:<input type ="text" name="gem[source]"><br>
<input type="hidden" name="gem[user_id]" value=<%= current_user.id %>>
<input type="submit" value="Add Stone">
</form>
</div>
<div class="sidebar">
<form method="get" action="/user/<%=current_user.id%>">
    <input type="submit" value="Home">
    </form>
<form method="post" action="/logout">
<input type="submit" value="LogOut">
</form>
</div>
