<div class="wrapper2">
<h1>Welcome, <%= @user.username %></h1>
<%=flash[:not_allowed]%><br>
See your <a href='/gemstones/<%=current_user.id%>'>Collection</a><br>
<br>
Add a <a href='/gemstone/new'>NEW</a> Gemstone to your collection:<br>
<br>
See <a href='/collections'>OTHER</a> collections:<br>

</div>

<div class="sidebar">
<form method="post" action="/logout">
<input type="submit" value="LogOut">
</form>
</div>