<h1>Welcome, <%= @user.username %></h1>

See your <a href='/user/<%=current_user.id%>/collection'>Collection</a><br>
<br>
<form method="get" action="/gemstone/new">
Add a new Gemstone to your collection:<br>
<input type="submit" value="New Stone"><br>
</form><br>
<form method="get" action="/gemstone/collection">
See other users collections:<br>
<input type="submit" value="All Collections"><br>
</form><br>
<form method="post" action="/logout">
<input type="submit" value="LogOut">
</form>