<div>
<style>
body {
background-image: url('/images/homepage.jpg');
}
</style>
</div>

<h1>Welcome, fellow Gemstone Groupies</h1><br>
Please <a href='/login'>
<u>LOGIN</u></a> or <a href='/signup'>
<u>SIGNUP</u></a>